<h2>{{potluckItem.name}}
    <a href="/potlucks/{{potluckItem._id}}/edit">Edit Potluck</a>
</h2>
<hr>

<div class="dashboard">
    <div class="row">
        <div class="col">
            <h3>
                <i>Hosted by:</i>
            </h3>
            <p>{{potluckItem.host.fullName}}</p>
            <h3>
                <i>When ?</i>
            </h3>
            <p>{{potluckItem.date}}</p>
            <h3>
                <i>Where ?</i>
            </h3>
            <p>
                <div class="my-google-map"></div>
                <img src="/images/location.png" height="25px"> {{potluckItem.location}}
            </p>
            {{!--
            <div id="countdown">
                <div id='tiles'></div>
                <div class="labels">
                    <li>Days</li>
                    <li>Hours</li>
                    <li>Mins</li>
                    <li>Secs</li>
                </div>
            </div> --}}
        </div>

        <div class="remplissage"></div>
        <div class="white col-6">
            <h3>Food and Drinks:</h3>
            <p>Click on the box before the item you are planning to bring</p>
            <ul>
                {{#each potluckItem.foodAndDrink}}
                <li>
                    <form method="POST" action="/potlucks/{{../potluckItem._id}}/process-bringFoodAndDrink">
                        <input type="hidden" name="foodId" value="{{this._id}}" />
                        <button type="submit">
                            <img src="{{this.pictureUrl}}" alt="ok" width="50px" name="pictureUrl">
                        </button>
                        {{this.name}}
                    </form>

                    <form method="POST" action="/potlucks/{{../potluckItem._id}}/process-removeFoodAndDrink">
                        <input type="hidden" name="foodIde" value="{{this._id}}" />
                        <button type="submit" class="btn btn-primary btn-sm">
                            Not this!
                        </button>
                    </form>
                </li>
                {{/each}}
            </ul>
            <form method="POST" action="/potlucks/{{potluckItem._id}}/process-foodAndDrink">
                <div class="form-group">
                    <label>Add Food or Drink</label>
                    <input name="name" type="text" class="form-control" placeholder="Bring ...">
                </div>
                <button class="btn btn-primary btn-sm">
                    Add
                </button>
            </form>
        </div>
        <div class="remplissage"></div>
        <div class="right col">
            <h3>Guests: </h3>
            {{#each potluckItem.guests}}
            <p>{{this.fullName}}</p>
            {{/each}}

            <form method="POST" action="/potlucks/{{potluckItem._id}}/process-guests">
                <div class="form-group">
                    <label>Add Guests</label>
                    <input name="guests" type="search" class="form-control" placeholder="guest@mail.com">
                    <small id="emailHelp" class="form-text text-muted">If your guest isn't signed up in our app, we will send him/her an email :)</small>
                </div>
                <button class="btn btn-primary btn-sm">
                    Add
                </button>
            </form>

        </div>
    </div>
</div>