<div>

    <a href="/potlucks/{{potluckItem._id}}/edit">Edit Potluck</a>

    <h2>{{potluckItem.name}}</h2>
    <hr>

    <div class="row">
        <div class="col">
            <h3>{{potluckItem.host.fullName}}</h3>
            <h3>Coming on {{potluckItem.date}}</h3>
            <h3> At {{potluckItem.location}}</h3>
        </div>
        <div class="white col-6">
            <h3>Food and Drinks:</h3>
            <li> {{potluckItem.foodAndDrink}}</li>
        </div>
        <div class="col">
            <h3>Guests: </h3>
            {{#each potluckItem.guests}}
            <h3>{{this.fullName}}</h3>
            {{/each}}
        </div>
    </div>


    <h3>Add Food or Drink</h3>
    <form method="POST" action="/potlucks/{{potluckItem._id}}/process-foodAndDrink">
        <input type="text" name="foodAndDrink" placeholder="Bring ..." />
        <br/>
        <button>Add</button>

    </form>

    <h3>Add Guests</h3>
    <form method="POST" action="/potlucks/{{potluckItem._id}}/process-guests">
        <input type="text" name="guests" placeholder="Invite ..." />
        <br/>
        <button>Add</button>

    </form>
</div>