<h2>{{potluckItem.name}}
    <a href="/potlucks/{{potluckItem._id}}/edit">Edit Potluck</a>
</h2>
<hr>

<div class="row">
    <div class="col">
        <h3>Hosted by:</h3>
        <p>{{potluckItem.host.fullName}}</p>
        <h3>When ?</h3>
        <p>{{potluckItem.date}}</p>
        <h3>Where ?</h3>
        <p>
            <div class="my-google-map"></div>
            <img src="/images/location.png" height="25px"> {{potluckItem.location}}
        </p>
        {{!--
        <div id="countdown">
            <div id='tiles'></div>
            <div class="labels">
                <li>Days</li>
                <li>Hours</li>
                <li>Mins</li>
                <li>Secs</li>
            </div>
        </div> --}}
    </div>


<<<<<<< HEAD
    <div class="white col-6">
        <h3>Food and Drinks:</h3>
        {{!-- {{#each potluckItem.foodAndDrink}}
        <li> {{this}}</li>
        {{/each}} --}} {{#each potluckItem.foodAndDrink}}
        <li>

            <input type="checkbox" value="{{this}}">{{this}}</input>
            {{/each}}
        </li>
        <h5>Add Food or Drink</h5>
        <form method="POST" action="/potlucks/{{potluckItem._id}}/process-foodAndDrink">
            <input type="text" name="foodAndDrink" placeholder="Bring ..." />
            <br/>
            <button>Add</button>
        </form>
    </div>


=======
   <div class="white col-6">
      
       <h3>Food and Drinks:</h3>
      {{#each potluckItem.foodAndDrink}}
       <li>
           <form method="POST" action="/potlucks/{{potluckItem._id}}/process-bringFoodAndDrink">
          <img src="{{this.pictureUrl}}" alt="ok" width="50px" id="checkbox"> 
           {{this.name}}
           <input type="checkbox" name="user">
           </form>
           {{/each}}

       </li>
       <h5>Add Food or Drink</h5>
       <form method="POST" action="/potlucks/{{potluckItem._id}}/process-foodAndDrink">
           <input type="text" name="name" placeholder="Bring ..." />
           <br/>
           <button>Add</button>
       </form>
   </div>

>>>>>>> 2cbbbc9ce2b897b93741224e41cd494aa71ba60a
    <div class="right col">
        <h3>Guests: </h3>
        {{#each potluckItem.guests}}
        <h3>{{this.fullName}}</h3>
        {{/each}}
        <h5>Add Guests</h5>
        <form method="POST" action="/potlucks/{{potluckItem._id}}/process-guests">
            <input type="search" name="guests" placeholder="Invite ..." />
            <br/>
            <button>Add</button>
        </form>
    </div>
</div>