<h2>Edit {{potluckItem.name}}</h2>

<form method="POST" action="/process-edit/{{potluckItem._id}}" enctype="multipart/form-data">

    <div class="form-group">
        <label>Potluck Name:</label>
        <input name="name" type="text" class="form-control" value="{{potluckItem.name}}" placeholder="My super birthday party!">
    </div>

    <div class="form-group">
        <label>Location:</label>
        <input name="location" type="text" class="form-control location-input" value="{{potluckItem.location}}">
    </div>

    <input type="hidden" name="latitude" class="lat-input" />
    <input type="hidden" name="longitude" class="long-input" />

    <div class="form-group">
        <label>Date</label>
        <input name="date" type="date" class="form-control" value="{{potluckItem.date}}">
    </div>

    <div class="form-group">
        <label for="exampleFormControlFile1">Change The Picture</label>
        <input type="file" name="pictureUpload" class="form-control-file">
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>

</form>

<form action="/potlucks/{{potluckItem._id}}/delete" method="POST">
    <button class="btn btn-primary">Delete this potluck</button>
</form>